<div class="contianer"  >

  <button mat-button class="btn-list" style="color:#007bff;" (click)="goback()"><mat-icon>menu</mat-icon> All Exams</button>
  <h1 class="add">Add exam</h1>
  <div class="form">


  <form #examform="ngForm" [formGroup]="newExam" (ngSubmit)="addExam()">

  <mat-form-field appearance="fill" >

      <mat-label>Name</mat-label>
      <input matInput formControlName="examName" minlength="3" maxlength="20"  required>

      <mat-error *ngIf="examName?.hasError('required')">
          Exam Name is Required!
      </mat-error>
      <mat-error *ngIf="examName?.hasError('minlength')">
          Exam Name should be at least 3 characters!
      </mat-error>

        <mat-error *ngIf="examName?.hasError('maxlength')">
          Exam Name should be at max 20 characters!
      </mat-error>


  </mat-form-field>

<br>
<mat-form-field appearance="fill" >

  <mat-label>Duration</mat-label>
  <input matInput type="number" formControlName="duration"  required>

  <mat-error *ngIf="duration?.hasError('required')">
      duration is Required!
  </mat-error>

</mat-form-field>
<mat-form-field appearance="fill" >

  <mat-label>Sucees Rate :{{sliderValue}}% </mat-label>

  <mat-slider showTickMarks matSliderThumb [(ngModel)]="sliderValue" formControlName="successRate"   min="0" max="100" thumbLabel required >
    <input matInput matSliderThumb     >
  </mat-slider>
  <mat-error *ngIf="successRate?.hasError('required')">
    successRate is Required!
</mat-error>

</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>Select Course</mat-label>
  <mat-select formControlName="course" matinput >
    <mat-option *ngFor="let course of theCourses" [value]=course>{{course.courseName}}</mat-option>
  </mat-select>
  <mat-error *ngIf="course?.hasError('required')">
    you must choose course
</mat-error>

</mat-form-field>
<mat-form-field appearance="fill" >

  <mat-label>Start time</mat-label>
  <input matInput type="datetime-local" formControlName="startTime"   required>

  <mat-error *ngIf="startTime?.hasError('required')">
      Exam Date is Required!
  </mat-error>



</mat-form-field>
<br>
<mat-form-field appearance="fill" >

  <mat-label>End time</mat-label>
  <input matInput type="datetime-local" formControlName="endTime"(mouseleave)="dateCompareValidator()"  required>

  <mat-error *ngIf="endTime?.hasError('required')">
      Exam  end Date is Required!
  </mat-error>
  <small style="color: red;" *ngIf="datecompare">
    <mat-error >
    Exam end Date  must be bigger
  </mat-error>
  </small>



</mat-form-field>
<br>
<mat-form-field appearance="fill"  >

  <mat-label>Number question per page</mat-label>
  <input matInput type="number" formControlName="questionsPerPage" (mouseenter)="dateCompareValidator()" required>

  <mat-error *ngIf="duration?.hasError('required')">
    Number question per page is Required!
  </mat-error>

</mat-form-field>
<mat-slide-toggle color="primary" class="btn-toggle" [checked]="showResult?.value" formControlName="showResult" >Show Result</mat-slide-toggle>
<mat-slide-toggle color="primary" class="btn-toggle" [checked]="noCheatingApp?.value" formControlName="noCheatingApp" >noCheatingApp</mat-slide-toggle>

  <button mat-raised-button [disabled]="examform.invalid || datecompare" class="submit" type="submit">Submit</button>
  </form>
  </div>
  </div>
