<div class="container">
  <section class="attempt-container">
    <div class="exam-info">
      <h2 class="mat-display-2 exam-info__heading">Exam Information</h2>
      <ng-container *ngIf="examInfo">
        <div class="exam-info__container">
          <div class="exam-info__data">
            <h3>Exam Name: <span>{{examInfo.examName}}</span></h3>
            <h3>Duration: <span>{{examInfo.duration}}</span></h3>
            <h3>Start Time: <span>{{examInfo.startTime}}</span></h3>
            <h3>End Time: <span>{{examInfo.endTime}}</span></h3>
            <h3>Success Rate: <span>{{examInfo.successRate}}%</span></h3>
          </div>
          <button mat-raised-button class="attempt-btn mat-h3" (click)="attemptExam()">Attempt</button>
        </div>
      </ng-container>
    </div>
  </section>
</div>