<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-card class="card">

    <div class="actions">
      <a title="delete" (click)="deleteQuestion()"><mat-icon class="delete">delete</mat-icon></a>
      <a title="up" (click)="Up()"><mat-icon class="up">arrow_upward</mat-icon></a>
      <a title="down" (click)="Down()"><mat-icon class="down">arrow_downward</mat-icon></a>
    </div>
    <span class="index">{{indexComponent}}.</span>
      <div class="question">
        <app-text-editor (editorValue)="getQuestionText($event)" [placeholder]="'Question Text'" ></app-text-editor>
        <input type="hidden" formControlName="questionText" >
    </div>
    <mat-card-content>

      <div class="answer" formArrayName="questionAnswers">
        <ng-container *ngFor="let answerItem of answers.controls; let i = index">
          <div [formGroupName]="i">

                <app-text-editor class="input-message" (editorValue)="getAnswerText($event)" [placeholder]="'Answer Text'"></app-text-editor>
                <input type="hidden" formControlName="answerText" >

                <a mat-icon-button  title="message" (click)="toggleInput()">
                  <mat-icon class="message">message</mat-icon>
                </a>

                <ng-container *ngIf="isHidden">
                  <app-text-editor class="input-message"  (editorValue)="getComment($event)" [placeholder]="'Comment'"></app-text-editor>
                  <input type="hidden" formControlName="comment">
                </ng-container>


          </div>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <label class="label-point">Points: </label>
    <input matInput class="point"  min="0" max="200" maxlength="3" type="number" formControlName="points" required>

  </mat-card>
</form>
