<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-card class="card">

    <div class="actions">
      <a title="delete" (click)="deleteQuestion()"><mat-icon class="delete">delete</mat-icon></a>
      <a title="up" (click)="Up()"><mat-icon class="up">arrow_upward</mat-icon></a>
      <a title="down" (click)="Down()"><mat-icon class="down">arrow_downward</mat-icon></a>
    </div>
    <span class="index">{{++indexComponent}}.</span>
    <mat-form-field>
      <mat-label>Question Text</mat-label>
      <textarea matInput class="question"  formControlName="questionText" required (input)="autoResize($event.target)"></textarea>
    </mat-form-field>
    <mat-card-content>
      <div style="margin-left: 20px;" formArrayName="questionAnswers">
          <mat-form-field>
            <textarea matInput  class="question" placeholder="Write Correct Answer here" formControlName="answerText" required (input)="autoResize($event.target)"></textarea>
          </mat-form-field>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <label class="label-point">Points: </label>
    <input matInput class="point"  min="0" max="200" maxlength="3" type="number" formControlName="points" required>

  </mat-card>

</form>

