<p>{{isMultipleChoice}}</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-card class="card" >
    <div class="actions">
      <a title="delete" (click)="deleteQuestion()"><mat-icon class="delete">delete</mat-icon></a>
      <a title="up" (click)="Up()"><mat-icon class="up">arrow_upward</mat-icon></a>
      <a title="down" (click)="Down()"><mat-icon class="down">arrow_downward</mat-icon></a>
    </div>

    <mat-form-field>
      <mat-label>Question Text</mat-label>
      <textarea matInput class="question"  formControlName="questionText" required (input)="autoResize($event.target)"></textarea>
    </mat-form-field>
    <mat-card-content>
      <div formArrayName="questionAnswers">

          <ng-container *ngFor="let answerItem of answers.controls; let i = index">
            <div [formGroupName]="i">
              <mat-form-field class="input">
                <ng-container *ngIf="isMultipleChoice; else singleAnswer">
                  <mat-checkbox class="check" formControlName="correctAnswer"></mat-checkbox>
                </ng-container>
                <ng-template #singleAnswer>
                  <mat-radio-group formControlName="correctAnswer">
                    <mat-radio-button class="radio" ></mat-radio-button>
                  </mat-radio-group>
                </ng-template>
                <input matInput formControlName="answerText" required>
              </mat-form-field>
              <button mat-icon-button (click)="removeAnswer(i)" *ngIf="answers.length > 1">
                <mat-icon class="delete-icon">delete</mat-icon>
              </button>
            </div>
          </ng-container>

        </div>
      <button mat-raised-button class="add-option" type="button" (click)="addAnswer()">
        <mat-icon>add</mat-icon>Add option
      </button>
    </mat-card-content>
    <mat-divider></mat-divider>
      <label class="label-point">Points: </label>
      <input matInput class="point"  min="0" max="200" maxlength="3" type="number" formControlName="points" required>

      <mat-slide-toggle color="primary" class="btn-toggle"(click)="btnToggle()">Multiple Answers</mat-slide-toggle>

  </mat-card>
</form>
