
mat-form-field{
  width: 80%;
  margin-top: 25px;
}
.add-option{
  color: #FFFFFF;
  background: darken(#3cb5be, 8%);
  border-radius: 8px;
  font-size: 16px;
  }
  .add-option:hover{
    background: darken(#3cb5be, 15%);

  }
input{
  display: inline;
  background: #FFFFFF;
  height: 32px;
  width: 60%;
  border-radius: 5px;
  padding-left: 10px;
  border: none;

}
.card{
  margin: 60px;
  background: #f2efef;
  border: none;
}
.delete-icon
{
  color: #777777;
  height: 31px;
  font-size: 26px;

}
.delete:hover,.delete-icon:hover{
  color:darken(#777777, 15%);
}
.up:hover,.down:hover{
  color:darken(#777777, 35%);
}
.question{
  height: 38px;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
}
.point{
  height: 25px;
  width: 60px;
  border-radius: 7px;
}
.label-point{
  font-size: 15px;
  margin-right:8px;
  margin-top: 15px;
}
mat-divider {
  background-color: #b4b4b4;
  width: 70%;
  text-align: center;

}
.actions{
  float: right;
  margin-right: 20px;
  color: #777777;
}
a{
  cursor: pointer;
  margin: 5px;
}
::ng-deep  .mat-form-field-underline {
  display: none;
}
::ng-deep  .input.mat-form-field{
width: 40%;
}

::ng-deep .check .mat-checkbox-inner-container {

  background: #FFF;
  margin: 0px 20px;
  width: 20px;
  height: 20px;
}
::ng-deep .check .mat-checkbox-layout {
  height: 24px;
  border: none;

}
.radio{
  margin: 5px;
  margin-left: 0px;
  background: #FFF;
  width: 20px;
  border-radius: 20px;
  margin-right: 20px;
}

.btn-toggle
{
  float: right;
  margin-top: 10px;
  font-size: 16px;
}
.index{
  display: inline-flex;
  margin-right: 5px;
  font-size: 15px;

}
.message{
  color: #777777;
}
.message:hover{
  color: darken(#777777, 15%);
}
.input-message{
width: 75%;
}


// ::ng-deep .mat-radio-button.mat-accent .mat-radio-outer-circle {
//   border: 1px solid #777777; /* Replace with your desired color */
//   border-color: #777777;
// }

// ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
//   background-color: #3cb5be; /* Replace with your desired color */

// }
