<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-card class="card" >
    <div class="actions">
      <a title="delete" (click)="deleteQuestion()"><mat-icon class="delete">delete</mat-icon></a>
      <a title="up" (click)="Up()"><mat-icon class="up">arrow_upward</mat-icon></a>
      <a title="down" (click)="Down()"><mat-icon class="down">arrow_downward</mat-icon></a>
    </div>
    <span class="index">{{indexComponent}}.</span>

    <app-text-editor (editorValue)="getQuestionText($event)"
    [placeholder]="'Question Text'" [QuestionText]="editQuestion" ></app-text-editor>
    <input type="hidden" formControlName="questionText" >
    <mat-error *ngIf="questionText?.touched && questionText?.hasError('required')">
      Question Text is required
    </mat-error>


    <mat-card-content>
      <div formArrayName="questionAnswers">
        <ng-container *ngFor="let answerItem of answers.controls; let i = index">
          <div [formGroupName]="i">
              <ng-container *ngIf="isMultipleChoice; else singleAnswer">
                <mat-checkbox class="check" formControlName="correctAnswer"></mat-checkbox>
              </ng-container>
              <ng-template #singleAnswer >
                <mat-radio-button class="radio" [checked]="Answer[i]?.correctAnswer" (change)="onRadioChange($event)"[value]="i"></mat-radio-button>
              </ng-template>

              <app-text-editor class="option" (editorValue)="getAnswerText($event,i)"
              [index]="i" [placeholder]="'options'" [answerText]="Answer[i]" ></app-text-editor>
              <input type="hidden" formControlName="answerText" >

              <a mat-icon-button  title="message" (click)="toggleInput(i)">
                <mat-icon class="message">message</mat-icon>
              </a>
            <button mat-icon-button (click)="removeAnswer(i)" *ngIf="answers.length > 1">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>

              <ng-container *ngIf="isHidden[i]">
                <app-text-editor class="input-message"  (editorValue)="getComment($event,i)"
                [comment]="Answer ? Answer[i]?.comment : answers.at(i).value.comment" [placeholder]="'Comment'"></app-text-editor>
                <input type="hidden" formControlName="comment">
              </ng-container>


          </div>
        </ng-container>

    </div>
      <button mat-raised-button class="add-option" type="button" (click)="addAnswer()">
        <mat-icon>add</mat-icon>Add option
      </button>
    </mat-card-content>
    <mat-divider></mat-divider>
      <label class="label-point">Points: </label>
      <input matInput class="point"  min="0" max="200" [value]="editQuestion?.points" maxlength="3" type="number" formControlName="points" required>

      <mat-slide-toggle color="primary" class="btn-toggle" (click)="btnToggle()">Multiple Answers</mat-slide-toggle>

  </mat-card>
</form>
