<div class="container">
  <h1>Add Student</h1>
  <button mat-button class="btn-list" style="color: #007bff" (click)="goBack()">
    <mat-icon>menu</mat-icon>All Students
  </button>

  <div class="form">
    <p class="add">Add Student</p>

    <form
      #studentFrm="ngForm"
      [formGroup]="newStudent"
      (ngSubmit)="addStudent()"
    >
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          minlength="3"
          maxlength="20"
          required
        />

        <mat-error *ngIf="firstName?.hasError('required')">
          First Name is Required!
        </mat-error>

        <mat-error *ngIf="firstName?.hasError('minlength')">
          First Name should be at least 3 characters!
        </mat-error>

        <mat-error *ngIf="firstName?.hasError('maxlength')">
          First Name should be at max 20 characters!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          minlength="3"
          maxlength="20"
          required
        />

        <mat-error *ngIf="lastName?.hasError('required')">
          Last Name is Required!
        </mat-error>
        <mat-error *ngIf="lastName?.hasError('minlength')">
          Last Name should be at least 3 characters!
        </mat-error>

        <mat-error *ngIf="lastName?.hasError('maxlength')">
          Last Name should be at max 20 characters!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          type="email"
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />

        <mat-error *ngIf="email?.hasError('required')">
          Email is Required!
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
          Email is not Vaild!
        </mat-error>
        <mat-error *ngIf="consoleError == 'Duplicate Email'">
          *{{consoleError}}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>university Id</mat-label>
        <input type="number" matInput formControlName="universityId" required />

        <mat-error *ngIf="universityId?.hasError('required')">
          UniversityId is Required!
        </mat-error>
        <mat-error *ngIf="consoleError == 'Duplicate UniversityId'">
          *{{consoleError}}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" value="{{this.firstName?.value}}{{this.lastName?.value}}{{this.universityId?.value}}" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select group</mat-label>

        <mat-select  formControlName="group" matinput >
            <mat-option *ngFor="let group of theGroups" [value]='group'>{{group.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="group?.hasError('required')">
            you must choose group
        </mat-error>

      </mat-form-field>
      <app-check-role (checkRole)="selectedRole($event)"></app-check-role>

      <section class="checkbox">
        <mat-checkbox formControlName="enable" class="check" color="primary"
          >Enable</mat-checkbox
        >
      </section>

      <button
        mat-raised-button
        [disabled]="studentFrm.invalid || checkRole.length == 0"
        class="submit"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>
