  <div class="editor">

   <div class="question" *ngIf="placeholder == 'Question Text'">
        <textarea  [froalaEditor]="froalaOptions( 'Question Text')"
        (input)="autoResize($event.target)" [(ngModel)]="EditorValue"
        (ngModelChange)="onEditorValueChange($event)"
        required
        #questionText="ngModel">
      </textarea>
      <div class="error-message" *ngIf="questionText.invalid && (questionText.dirty || questionText.touched)">
        <small class="text text-danger" *ngIf="questionText.errors">Question Text is required</small>
      </div>

  </div>

   <div class="answer" *ngIf="placeholder == 'Answer Text'">
    <textarea  [froalaEditor]="froalaOptions( 'Answer Text')"
    (input)="autoResize($event.target)" [(ngModel)]="EditorValue"
    (ngModelChange)="onEditorValueChange($event)"
    required
    #questionText="ngModel">
  </textarea>

  <div class="error-message" *ngIf="questionText.invalid && (questionText.dirty || questionText.touched)">
    <small class="text text-danger" *ngIf="questionText.errors">Answer Text is required</small>
  </div>

</div>

<div class="comment" *ngIf="placeholder == 'Comment'">
  <textarea  [froalaEditor]="froalaOptions('Message for those who choose this')"
  (input)="autoResize($event.target)" [(ngModel)]="EditorValue"
  (ngModelChange)="onEditorValueChange($event)"
  [value]="commentValue">
</textarea>
</div>

<div class="option" *ngIf="placeholder == 'options'" >
  <textarea  [froalaEditor]="froalaOptions('options')"
  (input)="autoResize($event.target)" [(ngModel)]="EditorValue"
  (ngModelChange)="onEditorValueChange($event)"
  required
  #questionText="ngModel">
</textarea>

<div class="error-message" *ngIf="questionText.invalid && (questionText.dirty || questionText.touched)">
  <small class="text text-danger" *ngIf="questionText.errors">Option is required</small>
</div>

</div>

</div>
