
// Exam details section

.container .form {
  margin: 35px auto;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

mat-card {
  margin-top: 20px;
  width: 100%;

}

.exam-header {
  display: flex;
  justify-content: center;
  background-color: #f6f6fa;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
}

.exam-name {
  font-size: 30px;
  font-weight: 500;
}

.exam-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.exam-details-left {
  display: flex;
  flex-direction: column;
}

.exam-details-right {
  display: flex;
  margin-left: 30%;
}
.mat-subheading-1{
  font-weight: 500;
  margin-right: 10px;

}


// Questions Section

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}


p{
  color:#1a4548 ;
}

mat-card-content{
  margin: 15px;
}


.previous,.next {
  margin:20px 10px;
  font-size: 16px;
  width: 50px;
  height: 35px;
  color: #FFF;
  background: #007bff;
}
.previous{
  width: 90px;

}
.next{
  float: right;
}
.previous:hover,.next:hover{
  background: darken($color: #007bff, $amount: 10%);
}
.previous:disabled,.next:disabled{
  background: #f6f6fa;
}

.round {
  border-radius: 50%;
}
