<form [formGroup]="form">
  <h1>Role</h1>
  <div class="Role">
    <ng-container *ngIf="roleView.length == 0">
      <section *ngFor="let role of allRoles; let i = index">
        <input
          class="form-check-input"
          id="{{ 'defaultCheck' + i }}"
          type="checkbox"
          [value]="role.role"
          (change)="onCheckboxChange($event)"
          required
        />
        <label for="{{ 'defaultCheck' + i }}">{{ role.role }}</label>
      </section>
    </ng-container>
    <ng-container *ngIf="roleView.length != 0">
      <section *ngFor="let role of allRoles; let i = index">
        <ng-container *ngIf="roleView.length">
          <input
            class="form-check-input"
            id="{{ 'defaultCheck' + i }}"
            type="checkbox"
            [checked]="roleView[0].role == role.role"
            [value]="role.role"
            (change)="onCheckboxChange($event)"
            required
          />
        </ng-container>
        <ng-container *ngIf="roleView.length > 1">
          <input
            class="form-check-input"
            id="{{ 'defaultCheck' + i }}"
            type="checkbox"
            [checked]="
              roleView[0].role == role.role || roleView[1].role == role.role
            "
            [value]="role.role"
            (change)="onCheckboxChange($event)"
            required
          />
        </ng-container>
        <label for="{{ 'defaultCheck' + i }}">{{ role.role }}</label>
      </section>
    </ng-container>
  </div>
</form>
