h1{

    font-size: 22px;
    font-weight: 400;
    margin: 25px;
}
.Role{

    margin: 25px 40px;
    padding: 25px;
    border: 0px solid rgb(211, 208, 208);
    border-radius: 10px;
    width: 75%;
    background: #eae8e8;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;


}
input
{
    width: 18px;
    height: 17px;
}
label
{
    font-size: 17px;
    margin-left: 5px;
    margin-bottom: 15px;

}
