.container {
  max-width: 500px;
  margin: 0 auto;

}

.btn-list {
  margin-bottom: 20px;
}

.form {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

}
form{
  display:grid;


}

.add {
  text-align: center;
  margin-bottom: 30px;
}

mat-form-field {
  margin: 0 auto;

  width: 50%;
}

mat-slider {
  width: 100%;
}

.submit {
  background-color: #007bff;
  color: #fff;
}


.submit:disabled {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}
h6{
  font-size:1px ;
  visibility: hidden;
}


