  <div class="editor">

   <div class="question" *ngIf="placeholder == 'Question Text'">
        <textarea  [froalaEditor]="froalaOptions( 'Question Text')"
        (input)="autoResize($event.target)" [(ngModel)]="EditorValue"
        (ngModelChange)="onEditorValueChange($event)"
        [value]="QuestionText?.questionText"
        required
        #questionText="ngModel">
      </textarea>
      <mat-error *ngIf="questionText.touched && questionText.invalid">Question Text is required</mat-error>

  </div>

   <div class="answer" *ngIf="placeholder == 'Answer Text'">
    <textarea id={{answerText?.id}}  [froalaEditor]="froalaOptions( 'Answer Text')"
    (input)="autoResize($event.target)" [(ngModel)]="EditorValue"
    (ngModelChange)="onEditorValueChange($event)"
    required
    #questionText="ngModel"
    [value]="answerText?.answerText"
    >
  </textarea>
  <mat-error *ngIf="questionText.touched && questionText.invalid">Answer Text is required</mat-error>

</div>

<div class="comment" *ngIf="placeholder == 'Comment'">
  <textarea  [froalaEditor]="froalaOptions('Message for those who choose this')"
  (input)="autoResize($event.target)" [(ngModel)]="EditorValue"
  (ngModelChange)="onEditorValueChange($event)"
  [value]="comment"
  >
</textarea>
</div>

<div class="option" *ngIf="placeholder == 'options'" >
  <textarea id={{answerText?.id}}
  [froalaEditor]="froalaOptions('options')"
  (input)="autoResize($event.target)" [(ngModel)]="EditorValue"
  (ngModelChange)="onEditorValueChange($event)"
  required
  #questionText="ngModel"
  [value]="answerText?.answerText">
</textarea>
<mat-error *ngIf="questionText.touched && questionText.invalid">option is required</mat-error>


</div>

</div>
