
input{
  display: inline;
  background: #FFFFFF;
  height: 32px;
  width: 70%;
  border-radius: 5px;
  padding-left: 10px;

}
.card{
  margin: 60px;
  background: #efebeb;
  border: none;
}

.question{
  display: inline;
}
.answer{
  width: 90%;
  margin-left: 20px;
  display: inline;
}
.delete:hover{
  color:darken(#777777, 15%);
}
.up:hover,.down:hover{
  color:darken(#777777, 35%);
}
.point{
  height: 25px;
  width: 60px;
  border-radius: 7px;
  border: none;
}
.label-point{
  font-size: 15px;
  margin-right:8px;
  margin-top: 15px;
}
.actions{
  float: right;
  color: #777777;
  margin-right: 25px;

}
a{
  cursor: pointer;
  margin: 5px;
  display: inline;
}
mat-divider {
  background-color: #b4b4b4;
  width: 70%;
  text-align: center;

}

.index{
  display: inline-flex;
  margin-right: 5px;
  font-size: 15px;

}

.input-message{
  margin-left: 20px;
}
.message{
  color: #777777;
  height: 40px;
  padding-top:15px ;
  margin-left: 20px;
}
.message:hover{
  color: darken(#777777, 15%);
}
