
<mat-form-field  appearance="fill">
  <mat-label>Roles</mat-label>
  <mat-chip-list #chipList >
    <mat-chip
      *ngFor="let role of roles"
      (removed)="remove(role)">
      {{role}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="New Role..."
      #roleInput
      [formControl]="roleCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" required>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let role of filteredRoles | async" [value]="role.id">
      {{role.role}}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="roleCtrl?.hasError('required')">
        Role is Required!
    </mat-error>
</mat-form-field>
