.editor{
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 15px auto; /* add margin to center horizontally */
  padding: 8px;
  width: 80%;
  display: inline-block;
}
.card{
  margin: 60px;
  background: #efebeb;
  border: none;
}
.actions{
  display: flex;
  justify-content: flex-end;
  color: #777777;
  margin-right: 25px;
}
.delete:hover{
  color:darken(#777777, 15%);
}
.index{
  display: flex;
  justify-content: flex-start;
  margin: 5px 0px 0px 20px;
  font-size: 18px;
}
.header {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 20px auto;
  width: 80%;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.inp-header {
  flex: 1;
  margin: 0 5px;
  border: none;
  height: 32px;
  width: 100%;
  padding: 5px;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.inp-header:hover {
  background-color: #e1f1ff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.inp-header:focus {
  outline: none;
}

.test-Case:focus{
  border: none;
  outline: none;
}

.add-test-case{
  color: #FFFFFF;
  background:#3cb5be;
  border-radius: 8px;
  font-size: 15px;
  border: none;
  margin: 20px;
  padding-left: 5px;
  width: 140px;
  }
  .add-test-case:hover{
    background: darken(#3cb5be, 12%);
  }
  .test-Case{
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    padding: 8px;
    width: 35%;
    display: inline-block;
    height: 40px;
    border: none;
  }
  .test-Case-point{
    width: 10%;
    display: inline-block;
    height: 40px;
  }
  .cases{
    width:80%;
    margin: 20px auto; /* add margin to center horizontally */
  }
  .delete-icon
  {
    color: #777777;
    font-size: 26px;
    height: 40px;
    padding-bottom:10px;

  }
.delete-icon:hover{
  color: darken($color: #777777, $amount: 12%);
}
.example{
  margin: 10px 60px;
  font-size: 18px;
}
