<p>{{codingForm.value |json}}</p>
<form [formGroup]="codingForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <p class="index">{{ indexComponent }}.</p>
    <div class="actions">
      <a title="delete" (click)="deleteQuestion()"><mat-icon class="delete">delete</mat-icon></a>
    </div>
    <div class="header">
      <div class="name">
        <input type="text" class="inp-header"  formControlName="header" placeholder="Name" required/>
      </div>
      <div class="time">
        <input type="number" min="0" class="inp-header"  formControlName="timelimit" placeholder="time limit per second" required />
      </div>
    </div>

    <!-- Descritopn Question -->
    <div class="editor">
      <textarea [froalaEditor]="froalaOptions('Descritopn Question')" (input)="autoResize($event.target)"
        [(ngModel)]="descriptionQuestion" required #questionText="ngModel">{{ descriptionQuestion }}
      </textarea>
    </div>

    <!-- Test Cases -->
    <div formArrayName="testCases">
      <p class="example">Example:</p>
      <div *ngFor="let testCase of testCases.controls; let i=index" class="cases">
        <div [formGroupName]="i">

        <textarea class="test-Case" formControlName="input" placeholder="Input" (input)="autoResize($event.target)" required></textarea>
        <textarea class="test-Case" formControlName="output" placeholder="Output" (input)="autoResize($event.target)" required></textarea>

        <button mat-icon-button type="button" (click)="removeTestCase(i)" *ngIf="testCases.length > 1" >
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
      </div>
    </div>

    <button mat-button type="button" class="add-test-case" (click)="addTestCase()">
      <mat-icon>add</mat-icon>Add TestCase
    </button>
  </div>
</form>
