.contianer{
  background: #3cb5be;
  height: 100%;

}
p{
  color:#3cb5be ;
}
.form{
  margin: 5% 10%;
  border-radius: 10px;
  width: 75%;
  background: #f6f4f4;
  height: 75%;

}
.wide-menu {
  width: 500px; /* set the width to whatever value you need */
  text-align: center; /* center the menu items horizontally */
}

.mat-menu-content {
  padding: 16px 0; /* add some padding to the top and bottom of the menu */
}
