.contianer{
  background: #3cb5be;
  height: 100%;
  overflow: hidden;
}
p{
  color:#3cb5be ;
}
.form{
  margin: 5% 10%;
  border-radius: 10px;
  width: 75%;
  background: #FFFFFF;
  height: 80%;
  overflow:auto;
}
.wide-menu {
  width: 500px; /* set the width to whatever value you need */
  text-align: center; /* center the menu items horizontally */
}

.mat-menu-content {
  padding: 16px 0; /* add some padding to the top and bottom of the menu */
}
.btn-question{
margin: 20px;
color: #f6f4f4;
background: darken(#3cb5be, 8%);
border-radius: 8px;
}

.btn-question:hover{
  background: darken(#3cb5be, 20%);
}
::ng-deep .mat-menu-panel {
  background: darken(#3cb5be, 8%);
}
::ng-deep .mat-menu-item {
  color:#f6f4f4 ;
}

