.container {
  background-color: #f2f2f2;
}

.course-details {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.course-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.course-details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.course-details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.course-details li {
  font-size: 16px;
  margin-bottom: 8px;
}

.exams-container {
  display: flex;
  flex-wrap: wrap;
}

.exam-card {
  width: calc(33.33% - 20px);
  background-color: #ffffff;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.exam-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.exam-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.exam-card p:nth-child(3),
.exam-card p:nth-child(4) {
  font-size: 18px;
  margin-bottom: 10px;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.exam-name{
  text-align: center;
}
.attempt-btn {
  margin: 10px 35%;
  font-size: 16px;
  background: darken(#0cd463, 7%);
  border-radius: 2rem;
  color: #fff;
  &:hover {
    background: darken(#0cd463, 15%);
  }
  &:disabled {
    background:#f2f2f2;
  }
}

.active{
  background: #0cd463;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;

}
.inActive{
  background: #ff2727;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
}
.name{
  background-color: #0cd463;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
}
@media (max-width: 968px) {
  .exams-container {
    justify-content: center;
  }

  .exam-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 620px) {
  .exam-card {
    width: 100%;
  }
}
