table {
  width: 100%;
}
.contianer{
    margin: 40px;

    p{
        font-size: 30px;
    }
}

mat-paginator{
  color: #3174efe9;
  font-size: 12px;
}

.btn-add{
  margin-top: 40px;
  font-size: 17px;
}
.mat-form-field {

  font-size: 18px;
  width: 30%;
  float: right;
}

td, th {
  font-size: 17px;
}
// th,mat-paginator{
//     background: rgb(238, 232, 232);
// }
.delete-icon{

    background: #f20202;
    color: #fff;
    font-size: 30px;
    width: 45px;
    height: 45px;
    padding: 8px;
    margin: 10px 0px;
    border-radius: 6px;
    text-align: center;
}
.edit-icon{

    color: #fff;
    padding: 8px;
    margin: 10px 0px;
    border-radius: 6px;
    font-size: 30px;
    background:  #0cd463;
    width: 45px;
    height: 45px;
    text-align: center;

}
.actions{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.active{
  background:  #0cd463;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}
.Inactive{
  background:  #f20202;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}
a{
  cursor: pointer;
  margin-left: 15px;
}
.edit-icon:hover{
background: darken(#0cd463,10%);
}
.delete-icon:hover{
  background: darken(#f20202, 10%);
}
  //small screens
@media (max-width: 992px){
  .mat-table{
    border: 0;
    vertical-align: middle;
  }
  .mat-table .mat-header-row {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    height:auto;
    padding: 10px;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    height:auto;
    padding: 10px;
  }

  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
    align-items: center;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 2%;
  }
  .btn-add{
    margin-top: 10px;
    font-size: 15px;
  }
  .mat-form-field {
    font-size: 16px;
    width: 70%;
    float: right;
  }
  .delete-icon{

    background: #f20202;
    color: #fff;
    font-size: 25px;
    width: 35px;
    height: 35px;
    padding: 4px;
    margin: 10px 0px;
    border-radius: 6px;
    text-align: center;
}
.edit-icon{

    padding: 4px;
    margin: 10px 0px;
    font-size: 25px;
    border-radius: 6px;
    background:  #0cd463;
    width: 35px;
    height: 35px;
    text-align: center;

}
}

