
<h2>
  Question {{ index }} ({{ question.points }} points)
</h2>
<h3 [innerHTML]="sanitizeHtml(question.questionText)"></h3>

<form [formGroup]="answerForm">
  <ng-container formArrayName="answersIds">
    <div *ngFor="let answerItem of answers.controls; let i = index">
      <mat-radio-group [formControlName]="i">
        <mat-radio-button class="radio" *ngFor="let answer of question.questionAnswers" [value]="answer.id">
          <p [innerHTML]="sanitizeHtml(answer.answerText)"></p>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </ng-container>
</form>
