mat-radio-group {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.radio{
  margin: 5px;
  position: relative;
  width: 20px;

}
.mat-radio-button {
  transform: scale(1.1); /* increase size */
  background: #FFFFFF;
  border-radius: 100%;
}
::ng-deep .mat-radio-label-content {
  padding-top: 10px;
}

