mat-toolbar {
  background: #ffffff;
  color: black;
  height: 65px;
  border-bottom: 2px solid #d7d3d3;

}


span{
    font-size: 16px;
}
.icon-profile{
  margin-right: 18px;
  font-size: 40px;
  text-align: center;
  color: $red-navbar;
}
.icon-profile:hover{
  color:darken( $red-navbar, 10%);
}

input:focus {
  outline: none;
  border: none;
}

.menu-button:hover{
    background: #f8f7f7;
    border-radius: 30px;
}
mat-icon{
    color: rgb(124, 122, 122);
}
