
<mat-toolbar >
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon class="menu"> format_align_left</mat-icon>
    </button>
    <div class="right" >
      <div class="search-container">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
          <input matInput type="text" placeholder="Search" >
        <!-- <mat-form-field class="search-field">
          <input matInput type="text" placeholder="Search" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
      </div>
      <button mat-icon-button >
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button class="btn-profile" mat-icon-button [matMenuTriggerFor]="profile">
        <mat-icon class="icon-profile">account_circle</mat-icon>
      </button>
          <mat-menu #profile="matMenu" xPosition="after">
          <button mat-menu-item><mat-icon>perm_identity</mat-icon>Profile</button>
          <button mat-menu-item><mat-icon>mail</mat-icon>Inbox</button>
          <button mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
          <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
        </mat-menu>

    </div>

</mat-toolbar>
