mat-toolbar {
    //style 1
    background: #ffffff;
    color: black;
    height: 55px;
    // style 2
    // background: #263238;
    // color: #ffffff;
    // style 3
    // background: #40844e;
    // color: #ffffff;

}

.right{
width: 100%;
display: flex;
justify-content: right;
}
span{
    font-size: 16px;
}

.menu-button:hover{
    background: #f8f7f7;
    border-radius: 30px;
}
mat-icon{
    color: rgb(124, 122, 122);
}
