table{
  width: 100%;
}

.contianer{
  margin: 40px;

  p{
      font-size: 30px;
  }
}

mat-paginator{
  color: #3174efe9;
  font-size: 12px;
}
.mat-form-field {

  font-size: 18px;
  width: 30%;
  float: right;
}

  .btn-add{
    font-size: 16px;
    margin-top: 40px;
  }

td, th {
  font-size: 14px;
}

.actions{
  font-size: 16px;
  margin: 15px 0px;
  color: #f6f4f4;
  background: darken($color: #0cd463, $amount: 2%);
}


.wide-menu {
  width: 500px; /* set the width to whatever value you need */
  text-align: center; /* center the menu items horizontally */
  font-size: 16px;
}

.mat-menu-content {
  padding: 16px; /* add some padding to the top and bottom of the menu */
}
.center{
  text-align: center;
}
.question{
  margin: 10px;
  margin-top: 30px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  background:  #0aac50;
  color: #fff;

}

::ng-deep .custom-menu {
  width: 175px; /* replace with your desired width */
}
::ng-deep .mat-menu-panel.custom-menu {
  background: darken(#0cd463, 7%);
}

::ng-deep .mat-menu-panel.custom-menu .mat-menu-item {
  color: #f6f4f4;
}


.active{
  background:  #0cd463;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}
.Inactive{
  background:  #f20202;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}

// Small Screens
@media (max-width: 992px){

  .mat-table{
    border: 0;
    vertical-align: middle;
  }



  .mat-table .mat-header-row {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    height:auto;
    padding: 10px;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    height:auto;
    padding: 10px;
  }

  .mat-table .mat-cell:before {

    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
    align-items: center;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 2%;
  }
  .btn-add{
    margin-top: 10px;
    font-size: 15px;
  }
  .mat-form-field {
    font-size: 16px;
    width: 70%;
    float: right;
  }
}
