table{
  width: 100%;
}

.contianer{
  margin: 40px;

  p{
      font-size: 30px;
  }
}


mat-paginator{
  color: #3174efe9;
  font-size: 12px;
}

.btn-add{
  margin-top: 40px;
  font-size: 17px;
}
.mat-form-field {

  font-size: 18px;
  width: 30%;
  float: right;
}
