

        <h2>Examination Management System</h2>

        <mat-divider *ngIf="permittedToViewDashboard || permittedToViewCoursesGroup"></mat-divider>

        <!-- <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span *ngIf="sidenav.close">Profile</span>
        </button> -->

        <button mat-button class="menu-button" *ngIf="permittedToViewDashboard"[routerLink]="['/dashboard']">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-button class="menu-button" *ngIf="permittedToViewCoursesGroup"[routerLink]="['/courses']">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
      </button>
        <mat-divider *ngIf="permittedToViewAdmins"></mat-divider>

            <!-- <button mat-button class="menu-button" [routerLink]="['/save']">
            <mat-icon>assignment</mat-icon>
            <span *ngIf="sidenav.close">Questions</span>
            </button> -->

            <button mat-button class="menu-button" [routerLink]="['/admins']" *ngIf="permittedToViewAdmins">
              <mat-icon>account_box</mat-icon>
              <span>Admins</span>
          </button>
          <mat-divider *ngIf="permittedToViewStudents"></mat-divider>

        <button mat-button class="menu-button" [routerLink]="['/students']" *ngIf="permittedToViewStudents">
            <mat-icon>accessibility_new</mat-icon>
            <span>Students</span>
        </button>
        <mat-divider *ngIf="permittedToViewCourses"></mat-divider>


        <button mat-button class="menu-button" [routerLink]="['/courses']" *ngIf="permittedToViewCourses">
          <mat-icon>book</mat-icon>
          <span>Courses</span>
        </button>
        <mat-divider *ngIf="permittedToViewExams"></mat-divider>

        <button mat-button class="menu-button" [routerLink]="['/exams']" *ngIf="permittedToViewExams">
          <mat-icon>assignment</mat-icon>
          <span>Exams</span>
          </button>
          <mat-divider *ngIf="permittedToViewRoles"></mat-divider>

        <button mat-button class="menu-button" [routerLink]="['/roles']" *ngIf="permittedToViewRoles">
            <mat-icon>assessment</mat-icon>
            <span>Roles</span>
        </button>
        <mat-divider></mat-divider>

<!--
            <button mat-button class="menu-button">
                <mat-icon>https</mat-icon>
                <span>Change Password</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button> -->

