.mat-checkbox-group {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
::ng-deep .check .mat-checkbox-inner-container {

  background: #FFF;
  margin: 5px 20px;
  width: 20px;
  height: 20px;

}
::ng-deep .check .mat-checkbox-layout {
  height: 41px;
  padding-top: 15px;
  border: none;
  display: inherit;

}
