.mat-checkbox-group {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
::ng-deep .check .mat-checkbox-inner-container {

  background: #FFF;
  margin: 5px 20px;
  width: 22px;
  height: 22px;

}
::ng-deep .check .mat-checkbox-layout {
  height: 50px;
  padding-top: 20px;
  border: none;

}
