<div class="center-container">
  <!-- <div class="alert alert-info">
    <strong>Normal User</strong> - U: user P: user<br />
    <strong>Administrator</strong> - U: admin P: admin
  </div> -->
  <mat-card class="card">
    <div class="card-image">
      <img src="../../../assets/Online-Examination-System.jpg" alt="Image" />
    </div>
    <h4 class="mat-card-header">Examination Management System</h4>
    <div class="mat-card-content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
            <mat-error *ngIf="submitted && f['username'].errors">
              <div *ngIf="f['username'].errors['required']">
                Username is required
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            <mat-error *ngIf="submitted && f['password'].errors">
              <div *ngIf="f['password'].errors['required']">
                Password is required
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Login
        </button>
        <mat-error *ngIf="error">
          {{ error }}
        </mat-error>
      </form>
    </div>
  </mat-card>
</div>
