.example-card {
  width: 47%;
  margin: 10px ;
  height: 295px;
  padding: 0px;
  margin-bottom: 25px;

}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;

}
img{
  cursor: pointer;
  width: 100%;
  height: 150px;
  margin: 0px;
  margin-bottom: 25px;
}
.btn-list
{
  background-color: #0ec82d;
  margin: 25px;
  padding: 5px 12px;
  font-size: 16px;
}
.btn-list:hover,.edit-icon:hover{
background: darken($color: #0ec82d, $amount: 10%);
}

mat-card-content{
  padding-left: 15px;
}
a{
  cursor: pointer;
}
.delete-icon{

  background: #f20202;
  color: #fff;
  font-size: 30px;
  width: 45px;
  height: 45px;
  padding: 8px;
  margin: 10px 0px;
  border-radius: 6px;
  text-align: center;
}
.edit-icon{

  color: #fff;
  padding: 8px;
  margin: 10px 0px;
  border-radius: 6px;
  font-size: 30px;
  background:  #0cd463;
  width: 45px;
  height: 45px;
  text-align: center;
  margin-right: 15px;

}
.actions{
  display: flex;
  justify-content: flex-end;
  margin: 25px;
}
.delete-icon:hover{
  background: darken($color: #f20202, $amount: 10);
}
mat-error{
  margin: 8px;
  font-size: 17px;
  background: #ff2727;
  color: #fff;
  height: 30px;
  padding-top: 4px;
  border-radius: 4px;
}
