<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-6">
        <mat-card class="small-box bg-info">
          <mat-card-content>
            <div class="inner">
              <h3>{{totalExams}}</h3>
              <p>Total Exams</p>
            </div>
          </mat-card-content>
          <mat-icon class="icon">description</mat-icon>
        </mat-card>
      </div>

      <div class="col-lg-3 col-6">
        <mat-card class="small-box bg-warning">
          <mat-card-content>
            <div class="inner">
              <h3>{{totalStudents}}</h3>
              <p>Total Students</p>
            </div>
          </mat-card-content>
          <mat-icon class="icon">school</mat-icon>
        </mat-card>
      </div>
      <div class="col-lg-3 col-6">
        <mat-card class="small-box bg-danger">
          <mat-card-content>
            <div class="inner">
              <h3>{{totalTeachers}}</h3>
              <p>Total Teachers</p>
            </div>
          </mat-card-content>
          <mat-icon class="icon">co_present</mat-icon>
        </mat-card>
      </div>
      <div class="col-lg-3 col-6">
        <mat-card class="small-box bg-primary">
          <mat-card-content>
            <div class="inner">
              <h3>{{totalCourses}}</h3>
              <p>Total Courses</p>
            </div>
          </mat-card-content>
          <mat-icon class="icon">desktop_windows</mat-icon>
        </mat-card>
      </div>
    </div>

    <!-- Active and Inactive Exam  -->
    <app-dashbord-exam class="row"></app-dashbord-exam>
  </section>
</div>
