.example-form {
  min-width: 400px;
  max-width: 700px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.container {
  margin: 20px 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* CSS for styling the privileges checkboxes */
.privilege-checkbox {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.privilege-checkbox label {
  margin-left: 10px;
}

mat-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.group-container {
  width: 270px;
    border: #ccc3c3 solid 1px;
    border-radius: 5px;
    padding: 8px;
    margin: 7px !important;
    height: 185px;
    background-color: #f9f6f661;
}

.group-header{
  background-color: rgb(51 81 113);
    width: 27px;
    height: 27px;
    font-size: 20px;
    color: #faf7f7;
    border-radius: 11px;
    padding: 4px;
    text-align: center;
    font-weight: 500;
    font-family: -webkit-body;
}

.privilege-checkbox{
  font-weight: 500;
}
