<p>{{questions |json}}</p>
<div class="contianer" >
  <div class="form">

    <div class="exam-container">

      <mat-card>
        <div class="exam-header">
          <div class="exam-name">{{exam?.examName}}</div>
        </div>
        <mat-card-content>
          <div class="exam-details">
            <div class="exam-details-left">
              <div class="mat-grid-tile-header">
                <span class="mat-subheading-1">Start Time:</span>
                <span class="mat-body-1">{{ exam?.startTime }}</span>
              </div>
            </div>
            <div class="exam-details-right">
              <div class="mat-grid-tile-header">
                <span class="mat-subheading-1">Success Rate: </span>
                <span class="mat-body-1">{{ exam?.successRate}} %</span>
              </div>
            </div>
          <div class="exam-details-left">
            <div class="mat-grid-tile-header">
              <span class="mat-subheading-1">End Time: </span>
              <span class="mat-body-1">{{ exam?.endTime }}</span>
            </div>
          </div>
          <div class="exam-details-right">
            <div class="mat-grid-tile-header">
              <span class="mat-subheading-1">Duration: </span>
              <span class="mat-body-1">{{ exam?.duration }}</span>
            </div>
          </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <ng-container *ngFor="let selectedComponent of selectedComponents; let i = index" >

      <app-choice-questions   *ngIf="selectedComponent.name === 'Multiple_Answers' || selectedComponent.name === 'Multiple_choice'"
      (onUP)="upChild(selectedComponent)"(onDown)="downChild(selectedComponent)"
      (onDelete)="removeChild(selectedComponent)" [indexComponent]="(i+1)"
      (questionData)="addQuestion($event,i)"
      [editQuestion]="selectedComponent.data">

    </app-choice-questions>

      <app-text-questions *ngIf="selectedComponent.name === 'Matching'"
      (onUP)="upChild(selectedComponent)"(onDown)="downChild(selectedComponent)"
      (onDelete)="removeChild(selectedComponent)"
      [indexComponent]="(i+1)"  (questionData)="addQuestion($event,i)"
      [editQuestion]="selectedComponent.data">

      </app-text-questions>
      <app-true-false-question *ngIf="selectedComponent.name === 'True_False'"
      (onUP)="upChild(selectedComponent)"(onDown)="downChild(selectedComponent)"
      (onDelete)="removeChild(selectedComponent)"
      [indexComponent]="(i+1)"  (questionData)="addQuestion($event,i)"
      (formValid)="formIsValid($event)"
      [editQuestion]="selectedComponent.data">

      </app-true-false-question>


      <app-text-editor (onDelete)="removeChild(selectedComponent)" *ngIf="selectedComponent.name === 'coding'"></app-text-editor>
    </ng-container>

    <button mat-button class="btn-question" [matMenuTriggerFor]="question"><mat-icon>add</mat-icon>Add questions</button>
    <mat-menu #question="matMenu" xPosition="after">
      <button mat-menu-item (click)="showChoiceQuestions()">Multible Choice</button>
      <button mat-menu-item (click)="showTextQuestions()">Matching</button>
      <button mat-menu-item (click)="showTrue_falseQuestions()">True False</button>
      <button mat-menu-item (click)="showTextEditor()">Coding</button>
    </mat-menu>

    <button *ngIf="questions.length" mat-raised-button  (click)="submit()" class="submit" type="submit">Save</button>
  </div>

</div>

