<!-- <h2>
  Question {{ index }} ({{ question.points }} points)
</h2> -->
<div class="header">
    <h1 class="name">Name</h1>
      <div class="time">
        time limit per Test: <span>5</span>
      </div>
      <div class="memory">
        memory limit per Test: <span>4</span>
      </div>
    </div>
    <!-- Descritopn Question -->
    <div class="desc">
      <!-- input -->
    <div class="input">
      <h1>Input</h1>
      <P>djnksmlfdjsklcmkjngjsd;,lcfsdmkl</P>
      <!-- <p [innerHTML]="sanitizeHtml(question.input)"></p> -->
    </div>
    <!-- Output -->
    <div class="output">
      <h1>Output</h1>
      <P>djnksmlfdjsklcmkjngjsd;,lcfsdmkl</P>
      <!-- <p [innerHTML]="sanitizeHtml(question.output)"></p> -->
    </div>
    <!-- Test Cases -->
    <div class="testCase">
    </div>
    </div>
