<p>{{savedAnswer|json}}</p>
<h2>
  Question {{ index }} ({{ question.points }} points)
</h2>
<div class="header">
  <h1 class="name">{{question.header}}</h1>
    <div class="time">
      time limit per Test: <span>{{question.timeLimit}}</span>
    </div>
  </div>
  <!-- Descritopn Question -->
  <div class="desc">
    <p [innerHTML]="sanitizeHtml(question.questionText)"></p>
  </div>
  <!-- Test Cases -->
  <h2>Example:</h2>
  <div *ngFor="let case of question.testCases"  class="testCase">
    <h2>Input</h2>
    <div class="input-example">
      <p>{{case.input}}</p>
    </div>
    <h2>Output</h2>
    <div class="output-example">
      <p>{{case.output}}</p>
    </div>
  </div>
  <div>
    <button *ngFor="let lang of languages" (click)="changeLanguage(lang.value)" [ngClass]="{'checked': lang.checked}">{{ lang.name }}</button>
  </div>
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"(ngModelChange)="onCodeChange($event)"></ngx-monaco-editor>
