<mat-tab-group (selectedTabChange)="addRole()">
  <mat-tab label="All Roles">
    <div class="container">
      <h1>All Roles</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element,let i = index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element " row> {{element.role}} </td>
      </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <a  title="Delete" (click)="deleteRole(element.id)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </a></td>
      </ng-container>

      <!-- edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let element"> <a  title="Edit" (click)="editRole(element.id)">
          <mat-icon class="edit-icon">edit</mat-icon>
        </a></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
  </mat-tab>
<mat-tab label="Add role" >


</mat-tab>


</mat-tab-group>

