<form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
  <h2>Password Recovery</h2>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <div *ngIf="recoveryForm.controls['email'].errors && (recoveryForm.controls['email'].dirty || recoveryForm.controls['email'].touched)">
       <small class="text-danger" > Enter valid Email</small>


    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!recoveryForm.valid">Recover Password</button>
</form>
