<section class="container">
  <div class="answers__container">

    <!-- Question Block -->
    <div *ngFor="let question of questions" class="question question__container">
      <p class="question__body" [innerHTML]="sanitizeHtml(question.questionText)">
        <!-- {{question.questionText}} -->
      </p>
      <div class="question__answers--container">

        <!-- =========== IF Multiple Choice =========== -->
        <ng-container *ngIf="question.questionType ==='Multiple_choice'">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button *ngFor="let ans of question.questionAnswers" [class.correct--answer]="ans.correctAnswer"
              class="example-radio-button question__answers--answer" value="ans1" disabled="true"
              [innerHTML]="sanitizeHtml(ans.answerText)">
              <!-- {{ans.answerText}} -->
            </mat-radio-button>
          </mat-radio-group>
        </ng-container>

        <!-- =========== IF Multiple Answers =========== -->
        <ng-container *ngIf="question.questionType ==='Multiple_Answers'">
          <mat-checkbox *ngFor="let ans of question.questionAnswers" [class.correct--answer]="ans.correctAnswer"
            class="example-radio-button question__answers--answer" value="ans1" disabled="true"
            [innerHTML]="sanitizeHtml(ans.answerText)">
            <!-- {{ans.answerText}} -->
          </mat-checkbox>
        </ng-container>

        <!-- =========== IF True False Question =========== -->
        <ng-container *ngIf="question.questionType === 'True_False'">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button class="example-radio-button question__answers--answer" value="ans1" disabled="true"
              [ngClass]="{'correct--answer':question.questionAnswers[0].answerText === 'true'}">
              True</mat-radio-button>
            <mat-radio-button class=" example-radio-button question__answers--answer" value="ans1" disabled="true"
              [ngClass]="{'correct--answer':question.questionAnswers[0].answerText === 'false'}">
              False</mat-radio-button>
            <!-- FIX the above code by adding wrong--answer class if selected ans is wrong  -->
          </mat-radio-group>
        </ng-container>
        <!-- =========== IF Matching Question =========== -->
        <!-- <ng-container *ngIf="question.questionType === 'Matching'">
          <div class=" example-radio-button question__answers--answer ">
            <p class="flex">Input: <span class="correct--answer"
                [innerHtml]="sanitizeHtml(question.questionAnswers[0].answerText)"></span></p>
          </div>
        </ng-container> -->
        <!-- =====================================  -->

      </div>
    </div>

  </div>
</section>