// Variables
$answers-color: rgba(0, 0, 0, 0.6);
// Utilities
.color-info {
  color: rgb(51, 81, 113);
}
.d-block {
  display: block;
}
// .child-my-0 > * {
//   margin-top: 0;
//   margin-bottom: 0;
// }

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.ms-2 {
  margin-left: 3% !important;
}
// ===========
.container {
  width: 80%;
  margin-bottom: 35px;
}
.question,
.result {
  background-color: #fff;
  padding: 1.3rem 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.question {
  &__body {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }

  &__answers {
    &--answer {
      display: block;
      margin: 0.5rem 0;
      padding: 0.5rem;
      border-radius: 0.2rem;
      &.correct--answer,
      .correct--answer {
        background-color: rgba(0, 128, 0, 0.2);
      }
      &.wrong--answer,
      .wrong--answer {
        background-color: rgba(255, 0, 0, 0.2);
      }
    }
  }
}
.result {
  display: flex;
  justify-content: space-around;
  h3 {
    font-weight: 500;
  }
}
::ng-deep .mat-radio-button.mat-accent[disabled] .mat-radio-label-content {
  color: $answers-color;
  font-weight: 500;
}
