<section class="container">
  <div class="answers__container">

    <!-- Question Block -->
    <div *ngFor="let question of questions" class="question question__container">
      <p class="question__body">
        {{question.questionText}}
      </p>
      <div class="question__answers--container">

        <!-- =========== IF Multiple Choice =========== -->
        <ng-container *ngIf="question.questionType=='Multiple_choice'">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button *ngFor="let ans of question.questionAnswers" [class.correct--answer]="ans.correctAnswer"
              class="example-radio-button question__answers--answer" value="ans1" disabled="true">
              {{ans.answerText}}</mat-radio-button>
          </mat-radio-group>
        </ng-container>

        <!-- =========== IF Multiple Answers =========== -->
        <ng-container *ngIf="question.questionType=='Multiple_Answers'">
          <mat-checkbox *ngFor="let ans of question.questionAnswers" [class.correct--answer]="ans.correctAnswer"
            class="example-radio-button question__answers--answer" value="ans1" disabled="true">
            {{ans.answerText}}</mat-checkbox>
        </ng-container>

      </div>
    </div>

  </div>
</section>