<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-card class="card" >
    <div class="actions">
      <a title="delete" (click)="deleteQuestion()"><mat-icon class="delete">delete</mat-icon></a>
      <!-- <a title="up" (click)="Up()"><mat-icon class="up">arrow_upward</mat-icon></a>
      <a title="down" (click)="Down()"><mat-icon class="down">arrow_downward</mat-icon></a> -->
    </div>
    <span class="index">{{indexComponent}}.</span>

    <app-text-editor (editorValue)="getQuestionText($event)"
    [placeholder]="'Question Text'" [QuestionText]="editQuestion"></app-text-editor>
    <input type="hidden" formControlName="questionText" >

    <mat-card-content>
      <div formArrayName="questionAnswers">
        <ng-container *ngFor="let answerItem of answers.controls; let i = index">
          <div [formGroupName]="i">
              <mat-radio-group class="radio" [value]="Answer?.answerText" formControlName="answerText">
                <mat-radio-button  value="true">True</mat-radio-button>
                <mat-radio-button style="margin-left: 15%;" value="false">False</mat-radio-button>
              </mat-radio-group>

              <a mat-icon-button  title="message" (click)="toggleInput(i)">
                <mat-icon class="message">message</mat-icon>
              </a>

              <ng-container *ngIf="isHidden[i]">
                <app-text-editor class="input-message"  (editorValue)="getComment($event,i)"
                [comment]="Answer ? Answer?.comment:answers.at(0).value.comment" [placeholder]="'Comment'"></app-text-editor>
                <input type="hidden" formControlName="comment">
              </ng-container>

          </div>
        </ng-container>

    </div>

    </mat-card-content>
    <mat-divider></mat-divider>
      <label class="label-point">Points: </label>
      <input matInput class="point"  min="0" max="200" [value]="editQuestion?.points" maxlength="3" type="number" formControlName="points" required>


  </mat-card>
</form>
